* {
    box-sizing: border-box;
}

body {
    background-color: #EAEAEA;
    color: #666666;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #002171;
    color: #FFFFFF;
    height: 120px;
    text-align: center;
}

header h1 a {
    text-decoration: none;
}

header h1 a:link {
    color: #FFFFFF;
}

header h1 a:visited {
    color: #FFFFFF;
}

header h1 a:link {
    color: #90C7E3;
}

nav {
    font-weight: bold;
    padding: 0;
    font-size: 120%; 
}

nav li {
    border-bottom: 1px solid darkblue;
}

nav a {
    text-decoration: none;
}

nav a:link {
    color: #5C7FA3;
}

nav a:visited {
    color: #344873;
}

nav a:hover {
    color: #A52A2A;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    font-size: 1.2em;
}

nav li {
    text-align: center;
}

main {
    padding: 1px 20px 20px 30px;
    display: block;
    overflow: auto;
    background-color: #FFFFFF;
}

footer {
    font-size: 75%;
    font-style: italic;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 2em;
    background-color: #FFFFFF;
}

h1 {
    text-decoration: none;
    letter-spacing: 0.25em;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    color: #1976D2;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 1px 1px 1px #CCCCCC;
}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #000033;
}

main ul {
    list-style-image: url(images/marker.gif);
}


dt {
    color: #002171;
}

img {
    width: 100%;
}

.resort {
    color: #1976D2;
    font-weight: bold;
}

#contact {
    font-size: 90%;
}

#wrapper {
    background-color: #90C7E3;
    background-image: linear-gradient(to bottom,#FFFFFF, #90C7E3);
}

#homehero {
    height: 300px;
    background-image: url(/images/coast2.jpg);
    background-size: 100% 100%;
}

#yurthero {
    height: 300px;
    background-image: url(/images/yurt.jpg);
    background-size: 100% 100%;
}

#trailhero {
    height: 300px;
    background-image: url(/images/trail.jpg);
    background-size: 100% 100%;
}

@media (min-width: 600px) {

    nav ul {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;
    }

    nav li {
        border-bottom: none;
    }

    section {
        padding-left: 2em;
        padding-right: 2em;
        grid-row: 2 / 3;
        grid-column: auto;
    }

    .content main {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr 1fr;
    }

    h2 {
        grid-row: 1 / 2;
        grid-column: 1 / 5;
    }

    #special { 
        grid-row: auto;
        grid-column: 1 / 5;
    }

    footer {
        grid-row: auto;
        grid-column: 1 / 5;
    }
}

@media (min-width: 1024px) {    
    nav li {
        text-align: left;
        padding-left: 5px;
    }

    nav ul {
        flex-direction: column;
        padding-top: 1em;
    }

    #wrapper {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        border: darkblue 1px solid;
        display: grid;
        grid-template-columns: 10em 1fr;
        grid-template-rows: auto;
    }

    nav {
        grid-column: 1 / 2;
        min-height: 180px;
    }

    header {
        grid-column: 1 / 5;
    }

    div {
        grid-column: 2 / 2;
    }

    main {
        grid-column: 2 / 3;
    }

    footer {
        grid-column: 2 / 4;
    }

}

