* {
    box-sizing: border-box;
}

body {
    background-color: #EAEAEA;
    color: #666666;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #002171;
    color: #FFFFFF;
    height: 120px;
    text-align: center;
    padding-top: 30px;
    padding-left: 3em;
}

header h1 a {
    text-decoration: none;
}

header h1 a:link {
    color: #FFFFFF;
}

header h1 a:visited {
    color: #FFFFFF;
}

header h1 a:link {
    color: #90C7E3;
}

nav {
    font-weight: bold;
    padding: 1.5em;
    font-size: 120%;
    float: left;
    width: 160px;    
}

nav a {
    text-decoration: none;
}

nav a:link {
    color: #5C7FA3;
}

nav a:visited {
    color: #344873;
}

nav a:hover {
    color: #A52A2A;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    font-size: 1.2em;
}

:link {
    color: #5C7FA3;
}

main {
    margin-left: 190px;
    padding: 1px 20px 20px 30px;
    display: block;
    overflow: auto;
    background-color: #FFFFFF;
}

section {
    float: left;
    width: 33%;
    padding-left: 2em;
    padding-right: 2em;
}

footer {
    font-size: 75%;
    font-style: italic;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 2em;
    margin-left: 190px;
    background-color: #FFFFFF;
}

h1 {
    text-decoration: none;
    font-size: 3em;
    letter-spacing: 0.25em;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    color: #1976D2;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 1px 1px 1px #CCCCCC;
}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #000033;
}

main ul {
    list-style-image: url(images/marker.gif);
}


dt {
    color: #002171;
}

img {
    width: 100%;
}

.resort {
    color: #1976D2;
    font-weight: bold;
}

#contact {
    font-size: 90%;
}

#wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: #90C7E3;
    min-width: 960px;
    max-width: 2048px;
    box-shadow: offset 3px 3px 3px;
    border: solid 1px black;
    background-image: linear-gradient(to bottom,#FFFFFF, #90C7E3);
}

#homehero {
    height: 300px;
    margin-left: 190px;
    background-image: url(/images/coast2.jpg);
    background-size: 100% 100%;
}

#yurthero {
    height: 300px;
    margin-left: 190px;
    background-image: url(/images/yurt.jpg);
    background-size: 100% 100%;
}

#trailhero {
    height: 300px;
    margin-left: 190px;
    background-image: url(/images/trail.jpg);
    background-size: 100% 100%;
}